<div class="container">
  <!--<div class="center">
    <button mat-stroked-button (click)="getMedicines()">Load Medications</button>
  </div>-->

  <div class="row">
    <table class="table">
      <h1>{{'prescription.mpp' | translate}}</h1>
      <tr>
        <th style="width:15%">{{'prescription.dd' | translate}}</th>
        <th style="width:25%">{{'prescription.mm' | translate}}</th>
        <th style="width:25%">{{'prescription.pre' | translate}}</th>
        <th style="width:20%">{{'prescription.sd' | translate}}</th>
      </tr>

      <tr *ngFor="let prescription of prescriptions">
        <td>{{prescription?.prescriptionAccepted | date:'longDate'}}
        <td>{{prescription?.medicines}}</td>
        <td>{{prescription?.doctorName}} {{prescription?.doctorLastName}}</td>
        <td><button mat-stroked-button (click)="openPrescription(prescription)">{{'prescription.sd' | translate}}</button></td>
      </tr>

    </table>
  </div>
  </div>

