.settings-container{
  padding: 20px 20px 20px 20px;
}

.title{
  font-size: 30px;
  text-align: center;
  font-weight: 500;
  padding-bottom: 50px;
}

.items {
  min-width: 150px;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
}

.center{
  padding-top: 25px;
  justify-content: center;
  text-align: center;
  color: #0e158a;
  font-weight: bold;
}

button{
  padding: 14px 40px;
  font-size: 30px;
  font-weight: 500;
}
