<div class="container">
  <h2>{{'patient.mi' | translate}}</h2>
  <div class="wrapper">

  <div class="left">
    <b>{{'patient.ld' | translate}}</b>
    <h3>{{patient?.lifeDisease}}</h3>

    <b>{{'patient.alle' | translate}}</b>
    <h3>{{patient?.allergies}}</h3>

    <b>{{'patient.mtp' | translate}}</b>
    <h3>{{patient?.medicationsTakenPernamently}}</h3>

    <b>{{'patient.q1' | translate}}</b>
    <h3>{{patient?.question2}}</h3>

    <b>{{'patient.q2' | translate}}</b>
    <h3>{{patient?.question4}}</h3>

    <b>{{'patient.q3' | translate}}</b>
    <h3>{{patient?.question6}}</h3>

    <b>{{'patient.emp' | translate}}</b>
    <h3>{{patient?.employer}}</h3>
  </div>

  <div class="right">
    <b>{{'patient.tr' | translate}}</b>
    <h3>{{patient?.treatments}}</h3>

    <b>{{'patient.bg' | translate}}</b>
    <h3>{{patient?.bloodGroup}}</h3>

    <b>{{'patient.q4' | translate}}</b>
    <h3>{{patient?.question1}}</h3>

    <b>{{'patient.q5' | translate}}</b>
    <h3>{{patient?.question3}}</h3>

    <b>{{'patient.q6' | translate}}</b>
    <h3>{{patient?.question5}}</h3>

    <b>{{'patient.nfz' | translate}}</b>
    <h3>{{patient?.nfZward}}</h3>

    <b>{{'patient.pa' | translate}}</b>
    <h3>{{patient?.policyAgreement}}</h3>
  </div>

  </div>
</div>
