body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}

.w3-container{
  opacity: 0.95 !important;
  margin: 5% 10% 0 10% !important;
  border-radius: 30px !important;
}

.custom-opacity{
  opacity:0.95 !important;
}

h1{
  font-weight: bold !important;
  font-size: 30px !important;
}

.desc{
  font-size: 17px;
  font-weight: 500;
}

.w3-row-padding{
  margin-bottom: 100px;
}

.extra-size{
  font-size: 40px !important;
}

img{
  height:350px;
  top: 0 !important;
}

.w3-padding-64{
  border-radius: 30px;
}


