<div class="container">
  <div class="wrapper">

    <div class="left">
      <h2>{{'patient.pi' | translate}}</h2>
      <h3>{{'doctorbasic.nat' | translate}} : <b>{{patient?.nationality}}</b></h3>
      <h3>{{'doctorbasic.name' | translate}} : <b>{{patient?.name}}</b></h3>
      <h3>{{'patient.sn' | translate}} : <b>{{patient?.secondName}}</b></h3>
      <h3>{{'doctorbasic.ln' | translate}} : <b>{{patient?.lastName}}</b></h3>
      <h3>{{'patient.mn' | translate}} : <b>{{patient?.motherName}}</b></h3>
      <h3>{{'patient.fn' | translate}} : <b>{{patient?.fatherName}}</b></h3>
      <h3>{{'patient.id' | translate}} : <b>{{patient?.idCard}}</b></h3>
      <h3>{{'patient.pass' | translate}} : <b>{{patient?.passportCard}}</b></h3>
      <h3>{{'patient.gen' | translate}} : <b>{{patient?.gender}}</b></h3>
      <h3>{{'patient.bd' | translate}} : <b>{{patient?.birthDate}}</b></h3>
      <h3>{{'patient.pob' | translate}} : <b>{{patient?.birthPlace}}</b></h3>
      <h3>PESEL: <b id="pesel">{{patient?.pesel}}</b></h3>
      <h3>{{'patient.pn' | translate}} : <b>{{patient?.phoneNumber}}</b></h3>

    </div>

    <div class="right">
      <h2>{{'patient.add' | translate}}</h2>
      <h3>{{'patient.coun' | translate}} : <b>{{patient?.country}}</b></h3>
      <h3>{{'patient.voi' | translate}} : <b>{{patient?.voivodeship}}</b></h3>
      <h3>{{'doctorbasic.city' | translate}} : <b>{{patient?.city}}</b></h3>
      <h3>{{'patient.str' | translate}} : <b>{{patient?.street}}</b></h3>
      <h3>{{'patient.hn' | translate}} : <b>{{patient?.homeNumber}}</b></h3>
      <h3>{{'patient.fnr' | translate}} : <b>{{patient?.flatNumber}}</b></h3>

    </div>
  </div>
</div>



