<div class="container">
  <div class="modal-header">
    <h1 class="modal-title pull-left">{{'prescription.pf' | translate}} {{prescription?.patientName}} {{prescription?.patientLastName}}</h1>
    <button type="button" class="close pull-right" aria-label="Close"
    (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">

      <h2>{{'doctorbasic.name' | translate}} : {{prescription?.patientName}}</h2>
      <h2>{{'doctorbasic.ln' | translate}} : {{prescription?.patientLastName}}</h2>
      <h2>PESEL: {{prescription?.patientPesel}}</h2>
      <h2>{{'appointment.med' | translate}} : {{prescription?.medicines}}</h2>
      <h2>{{'appointment.do' | translate}} : {{prescription?.dose}}</h2>
      <h2>{{'appointment.re' | translate}} : {{prescription?.content}}</h2>
      <h2> {{'appointment.aps' | translate}} : {{prescription?.status}}</h2>


      <form #updatePrescription = "ngForm" id="updatePrescription"
      >

      <div *appHasRole='["Admin"]'>
        <input name ="id" [(ngModel)]="prescription.id">
        <input name = "doctorEmail" [(ngModel)]="prescription.doctorEmail">
        <input name = "doctorName" [(ngModel)]="prescription.doctorName">
        <input name = "doctorLastName" [(ngModel)]="prescription.doctorLastName" >
      </div>

        <select class="form-select" aria-label="Default select example" name="status" [(ngModel)]="prescription.status">
          <option value="Waiting">{{'appointment.w' | translate}}</option>
          <option value="Confirmed">{{'appointment.co' | translate}}</option>
          <option value="Rejected">{{'appointment.rej' | translate}}</option>
        </select>

      </form>
    </div>


    <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{'appointment.c' | translate}}</button>
      <button type="button" class="btn btn-succes" (click)="updateRoles()">{{'appointment.s' | translate}}</button>
    </div>
  </div>
