h2{
  margin-top:25px;
}

label{

  font-size: 15px;
}

.container{
  justify-content: center;
  align-items: center;
  margin-top: 50px;

}

h1{
  text-align: center;
  font-size: 40px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}
