h1{
  padding-top:10px;
  text-align: center;
}

.scrollable{
}

.container{
  justify-content: center;
  align-items: center;
  height: 750px;
  background: white;
  margin-top: 5%;
  margin-bottom: 5%;
  border: 5px solid gray;
}
