h2{
  text-align: center;
  font-size: 60px;
  margin-top: 10px;
  margin-bottom: 25px;
}

h3{

  font-size:25px;
  font-weight: 500;
  margin-bottom: 20px;
}

h4{
  text-align: center;
  font-size: 40px;
  margin-top: 25px;
}

p1{
  color:goldenrod;
  cursor: pointer;
  font-size: 25px;
}

a{
  align-items: center;
  font-weight: 600;
  font-size: 35px;
  margin-top: 25px;
  margin-bottom: 25px;
  color:goldenrod;
}

.center{
  padding: auto;
  text-align: center;
}
