h3{
  font-weight: 500;
  font-size: 1.15vw
}

p{
  font-weight: bold;
  font-size: 1.3vw;
  color: #3a3188 !important;
}

.card{
  border-radius: 10px !important;
}

h4{
  margin-top: 5px;
  font-size: 1vw !important;
  font-weight: bold;
  margin-bottom: 5px !important;
}
