.card{
  border: none;
}

.chat {
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat ul {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px dotted goldenrod;
}

h4{
  justify-content: center;
  font-weight: 600;
  text-align: center;
}
